body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}

.center {
	width: 100%;
	text-align: center;
}

p {
	margin-bottom: 45px;
}

div span {
    height: 30%;
    vertical-align: middle;
    display: inline-block; 
}


.button {
    text-align: center;
    text-decoration: none;
    font-size: 26;
    color: white;
    padding: 20px;
    margin: 100px 50px 0px 50px
    border: 2px solid white;
}     

#Twitter {
	border: 2px solid #55ACEE;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    margin: 100px 20px 0px 20px
}

#Twitter:hover {
	background: #55ACEE;
}

#Ello {
	border: 2px solid white;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    margin: 100px 20px 0px 20px
}

#Ello:hover {
	background: white;
	color: black;
}

#Google {
	border: 2px solid #D50F25;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    margin: 100px 20px 0px 20px
}

#Google:hover {
	background: #D50F25;
}